// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark-blue: #4A30D1;
$blue: #684ef9;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #71ddf9;

// Base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
        (
            "dark-blue":  $dark-blue,
            "blue":       $blue,
            "indigo":     $indigo,
            "purple":     $purple,
            "pink":       $pink,
            "red":        $red,
            "orange":     $orange,
            "yellow":     $yellow,
            "green":      $green,
            "teal":       $teal,
            "cyan":       $cyan,
            "white":      $white,
            "gray":       $gray-600,
            "gray-dark":  $gray-800
        ),
        $colors
);

// Theme color default definitions
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
        (
            'primary': $primary,
            'secondary': $secondary,
            'success': $success,
            'info': $info,
            'warning': $warning,
            'danger': $danger,
            'light': $light,
            'dark': $dark,
            "indigo":     $indigo,
            "purple":     $purple,
            "pink":       $pink,
            "dark-blue":  $dark-blue,
        ),
        $theme-colors
);
